/* import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap');

/* define class montserrat font */
.montserrat-light {
  font-weight: 300 !important;
  font-family: "Montserrat", sans-serif;
}

.montserrat-regular {
  font-weight: 400 !important;
  font-family: "Montserrat", sans-serif;
}

.montserrat-medium {
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif;
}

.montserrat-semibold {
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif;
}

.montserrat-bold {
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif;
}

/* define class spartan font */
.spartan-light {
  font-weight: 300 !important;
  font-family: "Spartan", sans-serif;
}

.spartan-regular {
  font-weight: 400 !important;
  font-family: "Spartan", sans-serif;
}

.spartan-medium {
  font-weight: 500 !important;
  font-family: "Spartan", sans-serif;
}

.spartan-semibold {
  font-weight: 600 !important;
  font-family: "Spartan", sans-serif;
}

.spartan-bold {
  font-weight: 700 !important;
  font-family: "Spartan", sans-serif;
}

body {
  background-color: #161616;
}